body {
  margin: 0;
}

#header {
  display: flex;
  background-color: lightskyblue;
  align-items: center;
}

#checkList-img{
  height: 40px;
  margin-left: 10px;
}

#header h1{
  margin-left: 10px;
}

#add-task-img{
  height: 25px;
  cursor: pointer;
  margin-left: 10px;
}

.content{
  margin: 10px;
  display: flex;
  align-items: center;
}

.delete-task-img{
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.all-task-content{
  display: flex;
  align-items: center;
}

.all-task-content input{
  cursor: pointer;
}

