.section-skills {
  background-image: url(/src/components/Skills/photos/background-grey.jpg);
  height: 50vw;
}
.skills-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}

.skills-title {
  font-family: "CoreCircus", sans-serif;
  font-size: 5vw;
  color: rgb(231, 231, 231);
  letter-spacing: 0.5rem;
}

.skills-title:before {
  content: attr(data-heading);
  position: absolute;
  overflow: hidden;
  color: #ffcc00;
  z-index: 5;
  text-shadow: none;
  text-align: center;
  -webkit-animation: flicker 3s linear infinite;
  animation: flicker 3s linear infinite;
  margin-left: -65px;
}

@-webkit-keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4),
      1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4),
      1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00,
      0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4),
      1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4),
      1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00,
      0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}
@font-face {
  font-family: "CoreCircus2DDot1";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf")
      format("truetype");
}
@font-face {
  font-family: "CoreCircus";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf")
      format("truetype");
}
.skills-first-row {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.skills-first-row img {
  height: 100px;
}

.skills-second-row {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.skills-second-row img {
  height: 100px;
  margin-top: 150px;
}

.skills-content {
  font-size: 45px;
  text-align: center;
}

.skills-content p {
  background-image: url(https://media3.giphy.com/media/l2QE2buzULWxfb9qo/giphy.gif?cid=ecf05e479125n7emvoxxe50a7ehbe3h8csuotbqcwpdo9uak&rid=giphy.gif&ct=g);
  background-size: cover;
  color: transparent;
  background-clip: text;
  text-transform: uppercase;
  font-size: 50px;
}
