* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  transition: all 0.3s ease;
  background-color: #ffcc00;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #187eb1;
}
.max-width {
  max-width: 1600px;
  padding: 0 15px;
  margin: auto;
}

.logo {
  font-size: 35px;
  font-weight: 1000;
  color: #767676;
}
